.scroller {
  overflow: auto;
  justify-content: left;
}

#scroller-eg, #scroller-ng {
  justify-content: left;
}

.sliderLeft {
  position: relative;
  font-size: 0px;
  height: 30px;
  width: 30px;
  background-color: #9e2b3a;
  border: none;
}

.sliderRight {
  position: relative;
  font-size: 0px;
  height: 30px;
  width: 30px;
  background-color: #9e2b3a;
  border: none;
}

.arrow {
  width: 10px;
}

.hidden {
  display: none;
}

.animateLeft {}

.animateRight {}

  @keyframes fade-slide-left {
    0% {
      opacity: 1;
      transform: none;
    }
    100% {
      opacity: 0;
      transform: translateX(4rem);
    }
  }

@keyframes fade-slide-right {
  0% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(-4rem);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  25% {
    opacity: .4;
    transform: scale(.6);
  }
  50% {
    opacity: .8;
    transform: scale(.8);
  }
  75% {
    opacity: .4;
    transform: scale(.6);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* Styles */
    #about-container {
      padding: 30px;
      padding-left: 10px;
    }

    .sliderLeft {
      position: relative;
      font-size: 0px;
      left: -35vw;
      top: -230px;
      height: 30px;
      width: 30px;
      background-color: #9e2b3a;
      border: none;
    }

    .sliderRight {
      position: relative;
      font-size: 0px;
      right: -35vw;
      top: -230px;
      height: 30px;
      width: 30px;
      background-color: #9e2b3a;
      border: none;
    }

    .animateLeft {
      animation: pulse 2s 3s ease-out infinite,
                fade-slide-left 1s 1s ease-out infinite;
      opacity: 0;
    }

    .animateRight {
      animation: pulse 2s 3s ease-out infinite,
                fade-slide-right 1s 1s ease-out infinite;
      opacity: 0;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  .scroller {
    overflow: hidden;
  }
  #scroller-ng, #scroller-eg {
    justify-content: center;
  }
  #slideLeft-eg, #slideRight-eg,
  #slideLeft-ng, #slideRight-ng {
    display: none;
  }
  .sliderLeft {
    position: relative;
    left: -45vw;
    top: -20vw;
    font-size: 0px;
    height: 50px;
    width: 50px;
    background-color: #9e2b3a;
    border: none;
  }

  .sliderRight {
    position: relative;
    right: -45vw;
    top: -20vw;
    font-size: 0px;
    height: 50px;
    width: 50px;
    background-color: #9e2b3a;
    border: none;
  }

  .arrow {
    width: 20px;
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}
